<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
          rel="stylesheet" />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>ecommerce Website</title>
</head>
<body>
    <header class="header" id="header">
        <!-- Top Nav -->
        <div class="top-nav">
            <div class="container d-flex">
                <p>Order Online Or Call Us: (001) 2222-55555</p>
                <ul class="d-flex">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="navigation">
            <div class="nav-center container d-flex">
                <a href="/" class="logo"><h1>Dans</h1></a>

                <ul class="nav-list d-flex">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="product.html" class="nav-link">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="#terms" class="nav-link">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                   
                    <li class="icons d-flex">
                        <a href="" class="icon" >
                            <i class="bx bx-user"> @*<li>@Html.ActionLink("dangki", "dangki", "Home")</li>*@</i>
                         </a>
                        <div class="icon">
                            <i class="bx bx-search"></i>
                        </div>
                        <div class="icon">
                            <i class="bx bx-heart"></i>
                            <span class="d-flex">0</span>
                        </div>
                        <a href="cart.html" class="icon">
                            <i class="bx bx-cart"></i>
                            <span class="d-flex">0</span>
                        </a>
                    </li>
                </ul>

                <div class="icons d-flex">
                    <a href="login.html" class="icon">
                        <i class="bx bx-user"></i>
                    </a>
                    <div class="icon">
                        <i class="bx bx-search"></i>
                    </div>
                    <div class="icon">
                        <i class="bx bx-heart"></i>
                        <span class="d-flex">0</span>
                    </div>
                    <a href="cart.html" class="icon">
                        <i class="bx bx-cart"></i>
                        <span class="d-flex">0</span>
                    </a>
                </div>

                <div class="hamburger">
                    <i class="bx bx-menu-alt-left"></i>
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
       
        <footer>
            <!-- Footer -->
            <footer class="footer">
                <div class="row">
                    <div class="col d-flex">
                        <h4>INFORMATION</h4>
                        <a href="">About us</a>
                        <a href="">Contact Us</a>
                        <a href="">Term & Conditions</a>
                        <a href="">Shipping Guide</a>
                    </div>
                    <div class="col d-flex">
                        <h4>USEFUL LINK</h4>
                        <a href="">Online Store</a>
                        <a href="">Customer Services</a>
                        <a href="">Promotion</a>
                        <a href="">Top Brands</a>
                    </div>
                    <div class="col d-flex">
                        <span><i class='bx bxl-facebook-square'></i></span>
                        <span><i class='bx bxl-instagram-alt'></i></span>
                        <span><i class='bx bxl-github'></i></span>
                        <span><i class='bx bxl-twitter'></i></span>
                        <span><i class='bx bxl-pinterest'></i></span>
                    </div>
                </div>
            </footer>

        </footer>
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
